@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
}
section {
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    background-color: #424242;
    margin-top: 75px;
    box-shadow: 0px 10px 36px 16px rgba(0, 0, 0, 0.5);
}
.game--title {
    padding-top: 20px;
    color: #fff; /* White color for the title */
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 150px;
    margin: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px; /* Padding to make the grid lines thicker */
}
.cell {
    font-family: "Poppins", sans-serif;
    width: 50px;
    height: 50px;
    box-shadow: inset 0 0 0 4px #00897B; /* Teal color for grid lines */
    border: 4px solid #444444;
    cursor: pointer;
    line-height: 50px;
    font-size: 60px;
    padding: 10px; /* Padding to make the grid lines thicker */
    font-weight: bolder;
}
button {
    background-color: #00897B; /* Teal background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}
button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
    transform: scale(0);
    border-radius: 5px;
}
button:hover::before {
    transform: scale(1);
}
button:hover {
    background-color: #00695C; /* Darker teal */
    transform: scale(1.1); /* Slightly larger */
}
